<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Weather dashboard</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

        <!-- STYLESHEETS -->
        <style type="text/css">
            [fuse-cloak],
            .fuse-cloak {
                display: none !important;
            }
        </style>
        <!-- Icons.css -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/icons/fuse-icon-font/style.css}">
        <!-- Animate.css -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/node_modules/animate.css/animate.min.css}">
        <!-- PNotify -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/node_modules/pnotify/dist/PNotifyBrightTheme.css}">
        <!-- Nvd3 - D3 Charts -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/node_modules/nvd3/build/nv.d3.min.css}" />
        <!-- Perfect Scrollbar -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/node_modules/perfect-scrollbar/css/perfect-scrollbar.css}" />
        <!-- Fuse Html -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/fuse-html/fuse-html.min.css}" />
        <!-- Main CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}">
        <!-- / STYLESHEETS -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" th:src="@{/resources/node_modules/jquery/dist/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/mobile-detect/mobile-detect.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/popper.js/dist/umd/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/d3/d3.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/nvd3/build/nv.d3.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/datatables.net/js/jquery.dataTables.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/datatables-responsive/js/dataTables.responsive.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotify.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyStyleMaterial.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyButtons.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyCallbacks.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyMobile.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyHistory.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyDesktop.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyConfirm.js}"></script>
        <script type="text/javascript" th:src="@{/resources/node_modules/pnotify/dist/iife/PNotifyReference.js}"></script>
        <script type="text/javascript" th:src="@{/resources/fuse-html/fuse-html.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    </head>

    <body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
        <main>
            <div id="wrapper">
                <div class="content-wrapper">
                    <div class="content custom-scrollbar">

                        <div id="server-dashboard" class="page-layout simple full-width">
                            <div class="page-content p-6">
                                <div class="widget-group row">
                                    <div class="col-12 p-3">
                                        <div class="widget widget1 card">
                                            <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                <div class="col">
                                                    <span class="h6">Temperature</span>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-icon">
                                                        <i class="icon icon-dots-vertical"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="widget-content p-4">
                                                <div id="widget1-main-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 p-3">
                                        <div class="widget card">
                                            <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                <div class="col">
                                                    <span class="h6">Current Weather</span>
                                                    <span class="ml-3 badge bg-pink text-auto"></span>
                                                </div>
                                            </div>
                                            <div class="widget-content p-4">
                                                <table id="weather-table" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Country Id</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Country Name</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Summary</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Time</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Temperature Celcius</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Temperature Fahrenheit</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Precipitation</span>
                                                                </div>
                                                            </th>
                                                            <th class="">
                                                                <div class="table-header">
                                                                    <span class="column-title">Pressure</span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="data : ${datas}">
                                                            <td>
                                                                <img th:src="@{resources/asset/{icon}.png(icon=${data.currentIcon})}" style="height:64px;width:64px"/>
                                                                <span class="font-weight-bold" th:text="${data.countryId}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.countryName}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentSummary}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentTime}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentTemperatureCelcius}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentTemperatureFahrenheit}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentPrecipitation}"></span>
                                                            </td>
                                                            <td>
                                                                <span th:text="${data.currentPressure}"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script th:inline="javascript">
            $('#weather-table').DataTable(
            {
                pagingType: 'simple',
                pageLength: 10,
                lengthMenu: [10, 20, 50, 100],
                autoWidth : false,
                responsive: true,
                columnDefs: [
                    {
                        width  : '20%',
                        targets: [0, 1, 2, 3, 4]
                    }
                ],
                columns   : [
                    {},
                    {},
                    {},
                    {},
                    {
                        render: function (data, type)
                        {
                            if ( type === 'display' )
                            {
                                return data + '&#8451';
                            }
                            else
                            {
                                return data;
                            }
                        }
                    },
                    {
                        render: function (data, type)
                        {
                            if ( type === 'display' )
                            {
                                return data + '&#8457';
                            }
                            else
                            {
                                return data;
                            }
                        }
                    },
                    {
                        render: function (data, type)
                        {
                            if ( type === 'display' )
                            {
                                return data + '%';
                            }
                            else
                            {
                                return data;
                            }
                        }
                    },
                    {}
                ]
            });
        </script> 

    </body>
</html>